@import '../../../styles.less';

.outer-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-container{
    position: relative;
    padding: 1%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.edit-button {
    position: relative;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    margin-left: 1%;
    transition: 0.3s;
    height: 2.5rem;
    width: auto;
    border: none;
    border-radius: 35px;
    background-size: 200% auto;
    background-image: linear-gradient(to right, @primary-color 0%, @secondary-color 100%);
    font: lighter 1.3rem Source Sans Pro;
    color: @primary-text-color;
    text-align: center;

    &:hover {
        background-position: right center;
        cursor: pointer;
    }
}

.account-details {
    width: 60%;
    background-color: @secondary-color;
    color: @primary-text-color;
    font: 1.2rem Source Sans Pro;
    margin-top: 5%;
    border-radius: 3vw;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
        margin-top: 2%;
    }
}

.even-columns {
    display: flex;
    > * {
        width: 100%;
    }
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    > * {
        width: 100%;
    }
}
