@import '../../../styles.less';

.outer-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.edit-button {
    margin-top: 1vw;
    align-self: center;
    background: #43BCCD;
    border-radius: 2vw;
    width: fit-content;
    font: 2vw bold Source Sans Pro;
    padding: 1% 2%;
}

.account-details {
    width: 60%;
    background-color: @secondary-color;
    color: @primary-text-color;
    font: 1.30vw Source Sans Pro;
    margin-top: 5%;
    border-radius: 3vw;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
        margin-top: 2%;
    }
}

.even-columns {
    display: flex;
    > * {
        width: 100%;
    }
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    > * {
        width: 100%;
    }
}
