<div class="main-error">
    <div class="header">
        <img (click)="goToHomePage()" src="assets/imgs/logo_primary_color.png" alt="No img">
    </div>
    <div class="content">
        <h1 translate>error-page.gone_code</h1>
        <h2 translate>error-page.gone_text</h2>
    </div>
    <div class="content-button">
        <button class="button" (click)="goToHomePage()" translate>error-page.go_to_home_page</button>
    </div>
    <div class="box-canvas">
        <div class="seal">
            <div class="mask">
                <div class="whisker left"></div>
                <div class="whisker right"></div>
            </div>
            <div class="brow left"></div>
            <div class="brow right"></div>
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth"></div>
            <div class="nose">
                <div class="nostrils"></div>
            </div>

        </div>
    </div>
</div>
