<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="" (click)="goToHomeBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate>
            breadcrumb.home </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item">
        <a href="" (click)="goToRoutesListBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate>
            breadcrumb.routes.list </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item">
        <a href="" (click)="goToRouteBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate>
            breadcrumb.route </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item active" translate> breadcrumb.cruise</li>
</ol>
<div class="outer-div">
    <div *ngIf="(cruiseEdit.response) !== HIDDEN" class="info-popup">
        <p *ngIf="(cruiseEdit.response) === SUCCESS" class="edit-success" translate>cruise-edit.result_success</p>
        <p *ngIf="(cruiseEdit.response) === GONE" class="edit-failure" translate>cruise-edit.result_gone</p>
        <p *ngIf="(cruiseEdit.response) === FAILURE" class="edit-failure" translate>cruise-edit.wrong_dates</p>
        <p *ngIf="(cruiseEdit.response) === OPTIMISTIC_LOCK" class="edit-failure" translate>ERROR.OPTIMISTIC_LOCK_ERROR</p>
        <p *ngIf="(cruiseEdit.response) === FERRY_BEING_USED" class="edit-failure" translate>cruise-edit.ferry_being_used</p>
    </div>
    <div class="cruise-details" id="cruiseDetails">
        <div class="button-container">
            <button id="edit-button"
                    class="edit-button"
                    *ngIf="cruiseDetailsService.cruise.endDate > this.actualDate"
                    (click)="changeEditCruiseFormVisible(cruiseEdit = { isFormVisible: true, response: 'hide' })"
                    translate>cruise-details.edit_cruise
            </button>
            <button class="edit-button" (click)="refresh()" translate>general.refresh</button>
        </div>
        <div class="col">
            <div class="row">
                <label class="uppercase" translate>cruise-details.start_date</label>
                <label
                    id="login">{{cruiseDetailsService.cruise.startDate | date :'short':identityService.getTimezone()}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>cruise-details.end_date</label>
                <label
                    id="firstName">{{cruiseDetailsService.cruise.endDate | date :'short':identityService.getTimezone()}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>cruise-details.route</label>
                <label id="lastName">{{cruiseDetailsService.cruise.route.start.city}}
                    -{{cruiseDetailsService.cruise.route.destination.city}}
                    {{cruiseDetailsService.cruise.route.code}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>cruise-details.ferry</label>
                <label id="phoneNumber">{{cruiseDetailsService.cruise.ferry.name}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>cruise-details.number</label>
                <label>{{cruiseDetailsService.cruise.number}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>cruise-details.popularity</label>
                <label>{{cruiseDetailsService.cruise.popularity | number:'1.2-2' }}%</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>cruise-details.modification_date</label>
                <label>{{cruiseDetailsService.cruise.modificationDate | date :'short':identityService.getTimezone()}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>cruise-details.modified_by</label>
                <label>{{cruiseDetailsService.cruise.modifiedBy?.login}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>cruise-details.creation_date</label>
                <label>{{cruiseDetailsService.cruise.creationDate | date :'short':identityService.getTimezone()}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>cruise-details.created_by</label>
                <label>{{cruiseDetailsService.cruise.createdBy.login}}</label>
            </div>
        </div>
    </div>
</div>
<app-edit-cruise *ngIf="cruiseEdit.isFormVisible"
                 (isEditCruiseFormVisible)="changeEditCruiseFormVisible($event)"
                 [beginStartDate]="cruiseDetailsService.cruise.startDate"
                 [beginEndDate]="cruiseDetailsService.cruise.endDate"></app-edit-cruise>
