<div class="header">
    <img src="assets/imgs/logo_primary_color.png" alt="No img">
</div>
<div *ngIf="getChangeSuccessful(); then successful else passwordForm" class="form-container"></div>
<ng-template #passwordForm>
    <form id="new-password-reset-form" class="form" [formGroup]="form">

        <div class="logo" translate>password-reset.new.enter_password</div>

        <input #newPassword type="password" id="new-password" name="Password"
               placeholder="{{'change-password-form.required_new_password' | translate}}" formControlName="password"
               [ngClass]="{'is-invalid': form.controls.password.touched && form.controls.password.invalid}"
               (ngModelChange)="samePassword = false">
        <div class="validation-error"
             *ngIf="form.controls.password.hasError('required') && form.controls.password.touched"
             translate>form.field_required
        </div>
        <div id="short-password-error" class="validation-error"
             *ngIf="form.controls.password.hasError('minlength') && form.controls.password.touched"
             translate>form.short_password
        </div>

        <input #newPasswordRepeat type="password" id="new-password-repeat" name="PasswordRepeat"
               placeholder="{{'change-password-form.required_repeat_new_password' | translate}}"
               formControlName="passwordRepeat"
               [ngClass]="{'is-invalid': form.controls.passwordRepeat.touched && form.controls.passwordRepeat.invalid}">
        <div id="different-passwords-error" class="validation-error" *ngIf="form.controls.passwordRepeat.hasError('notMatching')
    && !form.controls.passwordRepeat.hasError('required') && form.controls.passwordRepeat.touched"
             translate>form.passwords_differ
        </div>
        <div class="validation-error"
             *ngIf="form.controls.passwordRepeat.hasError('required') && form.controls.passwordRepeat.touched"
             translate>form.field_required
        </div>
        <button id="confirm" class="form-button" (click)="sendNewPassword(newPassword.value, newPasswordRepeat.value)" translate>
            form.confirm
        </button>
        <label *ngIf="(invalidUrlVisible)" class="logo" id="invalid-url-label" translate>
            password-reset.new.invalid_url</label>
        <label *ngIf="(tooShortVisible)" class="logo" id="too-short-pwd-label" translate>
            password-reset.new.password_too_short</label>
        <label *ngIf="(resultGone)" class="logo" translate>
            password-reset.reset.gone</label>
        <label *ngIf="(resultConflict)" class="logo" translate>
            password-reset.reset.conflict</label>
    </form>
</ng-template>
<ng-template #successful>
    <div class="success-labels-container">
        <label *ngIf="(changeSuccessful)" class="successLabel" id="successful-change-label" translate>
            password-reset.new.password_change_success</label>
        <label class="successLabel" id="success-label-redirecting" translate>
            password-reset.new.redirect_to_main_page</label>
    </div>
</ng-template>


