<div class="header">
    <img src="./assets/logo_primary_color.png" alt="No img">
</div>
<div *ngIf="getChangeSuccessful(); then successful else passwordForm" class="form-container"></div>
<ng-template #passwordForm>
    <form id="new-password-reset-form" class="form" [formGroup]="form">

        <div class="logo" translate>new-password.enter_password</div>

        <input #newPassword type="password" id="new-password" name="Password"
               placeholder="{{'change-password-form.required_new_password' | translate}}" formControlName="password"
               [ngClass]="{'is-invalid': form.controls.password.touched && form.controls.password.invalid}"
               (ngModelChange)="samePassword = false">
        <div class="validation-error"
             *ngIf="form.controls.password.hasError('required') && form.controls.password.touched"
             translate>form.field_required
        </div>
        <div id="short-password-error" class="validation-error"
             *ngIf="form.controls.password.hasError('minlength') && form.controls.password.touched"
             translate>form.short_password
        </div>

        <input type="password" id="new-password-repeat" name="PasswordRepeat"
               placeholder="{{'change-password-form.required_repeat_new_password' | translate}}"
               formControlName="passwordRepeat"
               [ngClass]="{'is-invalid': form.controls.passwordRepeat.touched && form.controls.passwordRepeat.invalid}">
        <div id="different-passwords-error" class="validation-error" *ngIf="form.controls.passwordRepeat.hasError('notMatching')
    && !form.controls.passwordRepeat.hasError('required') && form.controls.passwordRepeat.touched"
             translate>form.passwords_differ
        </div>
        <div class="validation-error"
             *ngIf="form.controls.passwordRepeat.hasError('required') && form.controls.passwordRepeat.touched"
             translate>form.field_required
        </div>
        <button id="confirm" class="form-button" (click)="sendNewPassword(newPassword.value)" translate>
            form.confirm
        </button>
        <label *ngIf="(invalidUrlVisible)" class="logo" id="invalid-url-label" translate>
            new-password.invalid_url</label>
        <label *ngIf="(tooShortVisible)" class="logo" id="too-short-pwd-label" translate>
            new-password.password_too_short</label>
    </form>
</ng-template>
<ng-template #successful>
    <label *ngIf="(changeSuccessful)" class="successLabel" id="successful-change-label" translate>
        new-password.password_change_success</label>
</ng-template>


