<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="" (click)="goToHomeBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate> breadcrumb.home </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li *ngIf="identityService.isAdmin()" class="breadcrumb-item">
        <a href="" (click)="goToUserListBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate> breadcrumb.account_list </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item">
        <a href="" (click)="goToAccountBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate> breadcrumb.account </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item active" translate> breadcrumb.account_edit </li>
</ol>
<div class="outer-div">
    <div *ngIf="isUpdating(); then updating else updateForm"></div>
    <ng-template #updateForm>
        <div id="optimistic-lock-error"
             class="edit-validation-error general-error" *ngIf="optimisticLockError" translate>ERROR.OPTIMISTIC_LOCK_ERROR
        </div>
        <div id="general-error"
             class="edit-validation-error general-error" *ngIf="unknownError" translate>ERROR.UNKNOWN_ERROR
        </div>
        <form class="edit-form" [formGroup]="form">
            <div class="col">
                <div class="row headers">
                    <div class="uppercase" translate>edit-user.actual</div>
                    <div class="uppercase" translate>edit-user.new</div>
                </div>

                <div class="row">
                    <label for="edit-firstName">{{accountDetailsService.account.firstName}}</label>
                    <input #newFirstName type="text" id="edit-firstName" formControlName="firstName"
                           placeholder="{{'form.first_name' | translate}}"/>
                </div>

                <div class="row">
                    <label for="edit-lastName">{{accountDetailsService.account.lastName}}</label>
                    <input #newLastName type="text" id="edit-lastName" formControlName="lastName"
                           placeholder="{{'form.last_name' | translate}}"/>
                </div>

                <div class="row">
                    <label for="edit-phoneNumber">{{accountDetailsService.account.phoneNumber}}</label>
                    <input #newPhoneNumber type="text" id="edit-phoneNumber" formControlName="phoneNumber"
                           placeholder="{{'form.phone_number' | translate}}"
                           [ngClass]="{'is-invalid': form.controls.phoneNumber.touched && form.controls.phoneNumber.invalid}"
                           (ngModelChange)="existingPhoneNumber = false">
                </div>
                <div id="invalid-number-error"
                     class="edit-validation-error"
                     *ngIf="form.controls.phoneNumber.hasError('pattern') && form.controls.phoneNumber.touched"
                     translate>form.invalid_format
                </div>
                <div id="existing-number-error"
                     class="edit-validation-error" *ngIf="existingPhoneNumber" translate>ERROR.PHONE_NUMBER_UNIQUE
                </div>

                <div class="row">
                    <label for="edit-timeZone">{{accountDetailsService.account.timeZone}}</label>
                    <select class="edit-content-select" #newTimeZone id="edit-timeZone">
                        <option value="" disabled selected translate>edit-user.choose_a_time_zone
                        </option>
                        <option *ngFor="let zone of timezones" [value]="zone"
                                [selected]="zone === accountDetailsService.account.timeZone" id="{{zone}}">
                            {{'edit-user.UTC_time_zone' | translate}} {{zone}}</option>
                    </select>
                </div>
            </div>
            <button class="edit-button" id="saveBtn"
                    (click)="editUser(newFirstName.value, newLastName.value, newPhoneNumber.value, newTimeZone.value)"
                    [disabled]="form.invalid" translate>form.save
            </button>
            <img class="return-arrow" (click)="showUser(accountDetailsService.account.login)" src="assets/imgs/back-arrow.png"
                 alt=""/>
        </form>

    </ng-template>
    <ng-template #updating>
        <div class="updating-text" translate>
            form.updating
        </div>
    </ng-template>
</div>
