@import '../../../styles.less';

.user-edit-container {
    .form-container;
    background-color: @secondary-color;
    color: @primary-text-color;
    border-radius: 6rem;
    height: 60%;
    width: 70%;
    top: 8rem;
}

.user-edit {
    .form-container;
    top: -18rem;
    width: 80%;
}

.edit-button {
    .form-button;
    transform: translateX(-12vw) translateY(14rem);
}

.edit-headers {
    font: lighter 1.8rem Source Sans Pro;
}

.edit-content {
    font: lighter 1.2rem Source Sans Pro;
    text-align: center;
}

.edit-validation-error {
    .validation-error;
    left: 85%;
}

.edit-content-select {
    .edit-content;
    width: 52%;
    height: 80%;
    border-radius: 10rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

