<div class="outer-div">
    <div *ngIf="isUpdating(); then updating else updateForm"></div>
    <ng-template #updateForm>
        <form class="edit-form" [formGroup]="form">
            <div class="col">
                <div class="row headers">
                    <div class="uppercase" i18n="Current|">Aktualne</div>
                    <div class="uppercase" i18n="New|">Nowe</div>
                </div>

                <div class="row">
                    <label for="edit-firstName">{{accountDetailsService.account.firstName}}</label>
                    <input #newFirstName type="text" id="edit-firstName" formControlName="firstName"
                           placeholder="Imię" i18n-placeholder="First name|"/>
                </div>

                <div class="row">
                    <label for="edit-lastName">{{accountDetailsService.account.lastName}}</label>
                    <input #newLastName type="text" id="edit-lastName" formControlName="lastName"
                           placeholder="Nazwisko" i18n-placeholder="Last name|"/>
                </div>

                <div class="row">
                    <label for="edit-phoneNumber">{{accountDetailsService.account.phoneNumber}}</label>
                    <input #newPhoneNumber type="text" id="edit-phoneNumber" formControlName="phoneNumber"
                           placeholder="Numer telefonu" i18n-placeholder="Phone number|"
                           [ngClass]="{'is-invalid': form.controls.phoneNumber.touched && form.controls.phoneNumber.invalid}">

                </div>
                <div class="edit-validation-error"
                     *ngIf="form.controls.phoneNumber.hasError('pattern') && form.controls.phoneNumber.touched"
                     i18n="Invalid format|">Niepoprawny format
                </div>

                <div class="row">
                    <label for="edit-language">{{accountDetailsService.account.language}}</label>
                    <select class="edit-content-select" #newLanguage id="edit-language" formControlName="language">
                        <option value="" disabled selected hidden i18n="Choose a language|">Wybierz język</option>
                        <option id="pl" [selected]="accountDetailsService.account.language === 'pl'" value="pl"
                                i18n="Polish language|">język polski
                        </option>
                        <option id="en" [selected]="accountDetailsService.account.language === 'en'" value="en"
                                i18n="English language|">język angielski
                        </option>
                    </select>
                </div>

                <div class="row">
                    <label for="edit-timeZone">{{accountDetailsService.account.timeZone}}</label>
                    <select class="edit-content-select" #newTimeZone id="edit-timeZone">
                        <option value="" disabled selected hidden i18n="Choose a time zone|">Wybierz strefę czasową
                        </option>
                        <option *ngFor="let zone of timezones" [value]="zone"
                                [selected]="zone === accountDetailsService.account.timeZone" id="{{zone}}">
                            Strefa UTC {{zone}}</option>
                    </select>
                </div>
            </div>
            <button class="edit-button" id="saveBtn"
                    (click)="editUser(newFirstName.value, newLastName.value, newPhoneNumber.value, newLanguage.value, newTimeZone.value)"
                    [disabled]="form.invalid" i18n="Save|">Zapisz
            </button>
            <img class="return-arrow" (click)="setUser(accountDetailsService.account.login)" src="assets/back-arrow.png"
                 alt=""/>
        </form>

    </ng-template>
    <ng-template #updating>
        <div class="updating-text" i18n="Updating|">
            Aktualizowanie...
        </div>
    </ng-template>
</div>
