@import '../../styles.less';

.logo {
    width: 25%;
    position: absolute;
    top: 7vh;
    bottom: 73vh;
    left: 48%;
    transform: translateX(-50%);
    margin: auto;
}

.column-nav {
    display: flex;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}
