<div class="overlay">
    <div class="form-container">
        <img class="circle" src="assets/login-register-circle.png" alt=""/>
        <img class="logo" routerLink="/" src="assets/logo_primary_color.png" alt=""/>
        <form action="">
            <label for="login-reg"></label>
            <input type="text" id="login-reg" name="Login" placeholder="*Login" required><br>
            <label for="email-reg"></label>
            <input type="text" id="email-reg" name="Email" placeholder="*Adres e-mail" required><br>
            <label for="email-reg-repeat"></label>
            <input type="text" id="email-reg-repeat" name="Email-repeat" placeholder="*Powtórz adres e-mail" required><br>
            <label for="password-reg"></label>
            <input type="password" id="password-reg" name="Password" placeholder="*Hasło" required><br>
            <label for="password-reg-repeat"></label>
            <input type="password" id="password-reg-repeat" name="Password-repeat" placeholder="*Powtórz hasło" required><br>
            <label for="first-name"></label>
            <input type="text" id="first-name" name="Name" placeholder="*Imię" required><br>
            <label for="last-name"></label>
            <input type="text" id="last-name" name="Last-name" placeholder="*Nazwisko" required><br><br>
            <button class="form-button">Zarejestruj</button>
        </form>
        <div class="column-nav">
            <a routerLink="/login">Masz już konto? Zaloguj się!</a>
        </div>
        <img class="return-arrow" routerLink="/" src="assets/back-arrow.png" alt=""/>
    </div>
</div>
