@import '../../../styles.less';

.current-cruises-list-container {
    padding: 0 10% 2%;
}

#cruises {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font: lighter 1.2rem Source Sans Pro;
    box-shadow: 0 1px 3px 2px #eee;
}

#cruises td, #cruises th {
    border-bottom: 2px solid #ddd;
    padding: 8px;
}

#cruises tr:hover {
    background-color: #ddd;
}

#cruises th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: @primary-color;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    border: none;
}


.button-cruises-table {
    transition: 0.3s;
    height: 2.5rem;
    width: 100%;
    border: none;
    border-radius: 35px;
    background-size: 200% auto;
    background-image: linear-gradient(to right, @primary-color 0%, @secondary-color 100%);
    font: lighter 1.3rem Source Sans Pro;
    color: @primary-text-color;
    text-align: center;

    &:hover {
        background-position: right center;
        cursor: pointer;
    }
}
