<div class="current-cruises-list-container">
    <table id="cruises">
        <tr>
            <th translate>cruise-general.route_start</th>
            <th translate>cruise-general.route_destination</th>
            <th translate>cruise-general.start_date</th>
            <th translate>cruise-general.end_date</th>
            <th translate>cruise-general.ferry_name</th>
            <th translate>cruise-general.book_a_ticket</th>
        </tr>

        <tr *ngFor="let cruise of currentCruises">
            <td>{{cruise.route.start.city}}</td>
            <td>{{cruise.route.destination.city}}</td>
            <td>{{cruise.startDate | date :'short':identityService.getTimezone()}}</td>
            <td>{{cruise.endDate | date :'short':identityService.getTimezone()}}</td>
            <td>{{cruise.ferry.name}}</td>
            <td>
                <button class="button-cruises-table" translate>cruise-general.book</button>
            </td>
        </tr>
    </table>
</div>

