<ol class="breadcrumb">
<li class="breadcrumb-item">
        <a href="" (click)="goToHomeBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate> breadcrumb.home </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li *ngIf="identityService.isEmployee()" class="breadcrumb-item">
        <a href="" (click)="goToFerriesListBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate> breadcrumb.ferries-list </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
 <li *ngIf="identityService.isEmployee()" class="breadcrumb-item">
     <a href="" (click)="goToFerryBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate> breadcrumb.ferry </a>
     <img src="assets/wind.png" alt="" class="bullet">
 </li>
    <li class="breadcrumb-item">
        <a href="" (click)="goToCabinBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate> breadcrumb.cabin </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item active" translate> breadcrumb.cabin-edit </li>
</ol>
<div class="outer-div">
    <div *ngIf="isUpdating(); then updating else updateForm"></div>
    <ng-template #updateForm>
        <form class="edit-form" [formGroup]="form">
            <div class="col">
                <div class="row headers">
                    <div class="uppercase" translate>edit-user.actual</div>
                    <div class="uppercase" translate>edit-user.new</div>
                </div>

                <div class="row">
                    <label for="edit-capacity">{{cabinDetailsService.cabin.capacity}}</label>
                    <input #newCapacity type="text" id="edit-capacity" name="edit" formControlName="capacity"
                           placeholder="{{'cabin-form.capacity' | translate}}"/>
                </div>
                <div class="top-center" translate>
                    cabin-form.choose_cabin_type
                </div>
                <div class="checkbox-container">
                    <label id="firstClass-label" class="container" translate>cabin-form.first {{cabinTypes.firstClass}}
                        <input type="radio" name="edit" [checked]="cabinTypes.firstClass" [(ngModel)]="cabinTypes.firstClass">
                        <span class="checkmark"></span>
                    </label>
                    <label id="secondClass-label" class="container" translate>cabin-form.second {{cabinTypes.secondClass}}
                        <input type="radio" name="edit" [checked]="cabinTypes.secondClass" [(ngModel)]="cabinTypes.secondClass">
                        <span class="checkmark"></span>
                    </label>
                    <label id="thirdClass-label" class="container" translate>cabin-form.third {{cabinTypes.thirdClass}}
                        <input type="radio" name="edit" [checked]="cabinTypes.thirdClass" [(ngModel)]="cabinTypes.thirdClass">
                        <span class="checkmark"></span>
                    </label>
                    <label id="disabledClass-label" class="container" translate>cabin-form.disabled {{cabinTypes.disabledClass}}
                        <input type="radio" name="edit" [checked]="cabinTypes.disabledClass" [(ngModel)]="cabinTypes.disabledClass">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <button class="edit-button" id="saveBtn"
                    (click)="editCabin(newCapacity.value)"
                    [disabled]="form.invalid" translate>form.save
            </button>
            <img class="return-arrow" (click)="showCabin(cabinDetailsService.cabin.number)" src="assets/imgs/back-arrow.png"
                 alt=""/>
        </form>

    </ng-template>
    <ng-template #updating>
        <div class="updating-text" translate>
            form.updating
        </div>
    </ng-template>
</div>
