<ol class="breadcrumb">
<li class="breadcrumb-item">
        <a href="" (click)="goToHomeBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate> breadcrumb.home </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li *ngIf="identityService.isEmployee()" class="breadcrumb-item">
        <a href="" (click)="goToFerriesListBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate> breadcrumb.ferries-list </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
 <li *ngIf="identityService.isEmployee()" class="breadcrumb-item">
     <a href="" (click)="goToFerryBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate> breadcrumb.ferry </a>
     <img src="assets/wind.png" alt="" class="bullet">
 </li>
    <li class="breadcrumb-item">
        <a href="" (click)="goToCabinBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate> breadcrumb.cabin </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item active" translate> breadcrumb.cabin-edit </li>
</ol>
<div class="outer-div">
    <div *ngIf="isUpdating(); then updating else updateForm"></div>
    <ng-template #updateForm>
        <form class="edit-form" [formGroup]="form">
            <div class="col">
                <div class="row headers">
                    <div class="uppercase" translate>edit-user.actual</div>
                    <div class="uppercase" translate>edit-user.new</div>
                </div>

                <div class="row">
                    <label for="edit-capacity">{{cabinDetailsService.cabin.capacity}}</label>
                    <input #newCapacity type="text" id="edit-capacity" formControlName="capacity"
                           placeholder="{{'form.capacity' | translate}}"/>
                </div>

                <div class="row">
                    <label for="edit-cabinType">{{cabinDetailsService.cabin.cabinType}}</label>
                    <select class="edit-content-select" #newCabinType id="edit-cabinType">
                        <option value="" disabled selected translate>edit-user.choose_a_time_zone
                        </option>
                        <option *ngFor="let cabinType of cabinTypes" [value]="cabinType"
                                [selected]="cabinType === cabinDetailsService.cabin.cabinType" id="{{cabinType}}">
                            {{'edit-user.UTC_time_zone' | translate}} {{cabinType}}</option>
                    </select>
                </div>
            </div>
            <button class="edit-button" id="saveBtn"
                    (click)="editCabin(newCapacity.value, newCabinType.value)"
                    [disabled]="form.invalid" translate>form.save
            </button>
            <img class="return-arrow" (click)="showCabin(cabinDetailsService.cabin.number)" src="assets/imgs/back-arrow.png"
                 alt=""/>
        </form>

    </ng-template>
    <ng-template #updating>
        <div class="updating-text" translate>
            form.updating
        </div>
    </ng-template>
