<div [ngClass]="stickyStyles ? 'sticky-links' : 'links'">
    <!-- todo usunąć router link do accoutn -->
    <a *ngIf="identityService.isGuest()" routerLink="/ferrytales/account">O nas</a>
    <a *ngIf="identityService.isGuest()" routerLink="">Kontakt</a>
    <a *ngIf="identityService.isGuest() || identityService.isEmployee()" routerLink="">Trasy</a>
    <a *ngIf="identityService.isEmployee()" routerLink="">Promy</a>
    <a *ngIf="identityService.isEmployee()" routerLink="">Trasy</a>
    <a *ngIf="identityService.isEmployee()" routerLink="">Rejsy</a>
    <a *ngIf="identityService.isEmployee()" routerLink="">Rezerwacje</a>
    <a *ngIf="identityService.isEmployee()" routerLink="">Kajuty</a>
    <a *ngIf="identityService.isClient() || identityService.isEmployee()" routerLink="">Rezerwacje</a>
    <a *ngIf="identityService.isClient()" routerLink="">Aktualne rejsy</a>
    <a *ngIf="identityService.isAdmin()" routerLink="">Konta</a>
    <a *ngIf="!identityService.isGuest()" routerLink="/" (click)="signOut()" class="login-a">Wyloguj</a>
    <a *ngIf="identityService.isGuest()" (click)="changeLoginVisible(!isLoginVisible)" class="login-a">Zaloguj</a>
    <a *ngIf="identityService.isGuest()" (click)="changeRegisterVisible(!isRegisterVisible)" class="login-a">Zarejestruj</a>
    <div class="login-access-level" *ngIf="!identityService.isGuest()">
        <a *ngIf="identityService.isAdmin()" routerLink="" class="admin">Administrator</a>
        <a *ngIf="identityService.isEmployee()" routerLink="" class="employee">Pracownik</a>
        <a *ngIf="identityService.isClient()" routerLink="" class="client">Klient</a>
        <a [ngClass]="identityService.isAdmin() ? 'admin' : identityService.isEmployee() ? 'employee' : identityService.isClient() ? 'client' : ''" routerLink=""
           class="admin">{{ identityService.getLogin() }}</a>
    </div>
</div>
<app-login *ngIf="isLoginVisible" (isLoginVisibleChange)="changeLoginVisible($event)"
           (isRegisterVisibleChange)="changeRegisterVisible($event)"></app-login>
<app-register *ngIf="isRegisterVisible" (isLoginVisibleChange)="changeLoginVisible($event)"
              (isRegisterVisibleChange)="changeRegisterVisible($event)"></app-register>
