<div [ngClass]="stickyStyles ? 'sticky-links' : 'links'">
    <a *ngIf="identityService.isGuest()" id="aboutUsLink" routerLink="" i18n="About us header|">O nas</a>
    <a *ngIf="identityService.isGuest()" id="contactLink" routerLink="" i18n="Contact header|">Kontakt</a>
    <a *ngIf="identityService.isEmployee()" id="routesLink" routerLink="" i18n="Routes header|">Trasy</a>
    <a *ngIf="identityService.isEmployee()" id="ferriesLink" routerLink="" i18n="Ferries header|">Promy</a>
    <a *ngIf="identityService.isEmployee()" id="harborLink" routerLink="" i18n="">Porty</a>
    <a *ngIf="identityService.isEmployee()" id="bookingsLink" routerLink="" i18n="Bookings header|">Rezerwacje</a>
    <a *ngIf="identityService.isClient()" id="myBookingsLink" routerLink="" i18n="">Moje rezerwacje</a>
    <a *ngIf="identityService.isClient() || identityService.isGuest()" id="currentCruisesLink" routerLink="" i18n="Current cruises|">Aktualne rejsy</a>
    <a *ngIf="identityService.isAdmin()" id="accountsLink" routerLink="/ferrytales/accounts" i18n="Accounts header|">Konta</a>
    <a *ngIf="identityService.isGuest()" (click)="changeLoginVisible(!isLoginVisible)" id="loginLink" class="login-a" i18n="Sign in|">Zaloguj</a>
    <a *ngIf="identityService.isGuest()" (click)="changeRegisterVisible(!isRegisterVisible)" id="registerLink" class="login-a"
       i18n="Sign up|">Zarejestruj</a>
    <a *ngIf="!identityService.isGuest()" id="logoutLink" routerLink="/" (click)="signOut()" class="login-a"
       i18n="Sign out|">Wyloguj</a>
    <div class="login-access-level" *ngIf="!identityService.isGuest()">
        <a [ngClass]="identityService.isAdmin() ? 'admin' : identityService.isEmployee() ? 'employee' : identityService.isClient() ? 'client' : ''"
           (click)="getProfile()" id="usernameMain" class="admin">{{ identityService.getLogin() }}</a>
        <div class="dropdown">
            <a *ngIf="identityService.isAdmin()" id="currentLevel" routerLink="" class="admin" i18n="Administrator|">Administrator</a>
            <a *ngIf="identityService.isEmployee()" id="currentLevel" routerLink="" class="employee" i18n="Employee|">Pracownik</a>
            <a *ngIf="identityService.isClient()" id="currentLevel" routerLink="" class="client" i18n="Client|">Klient</a>
            <div class="dropdown-content">
                <a *ngFor="let level of getAccessLevels()" routerLink="" (click)="setCurrentAccessLevel(level)">
                    <div *ngIf="level === 'EMPLOYEE'" class="employee" i18n="Employee|">Pracownik</div>
                    <div *ngIf="level === 'ADMIN'" class="admin" i18n="Administrator|">Administrator</div>
                    <div *ngIf="level === 'CLIENT'" class="client" i18n="Client|">Klient</div>
                </a>
            </div>
        </div>
    </div>
</div>
<app-login *ngIf="isLoginVisible"
           (isLoginVisibleChange)="changeLoginVisible($event)"
           (isRegisterVisibleChange)="changeRegisterVisible($event)"
           (isResetPasswordVisibleChange)="changeResetPasswordVisible($event)"></app-login>
<app-register *ngIf="isRegisterVisible"
              (isLoginVisibleChange)="changeLoginVisible($event)"
              (isRegisterVisibleChange)="changeRegisterVisible($event)"></app-register>
<app-reset-password *ngIf="isResetPasswordVisible"
                    (isLoginVisibleChange)="changeLoginVisible($event)"
                    (isResetPasswordVisibleChange)="changeResetPasswordVisible($event)"></app-reset-password>
