<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="" (click)="goToHomeBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate>
            breadcrumb.home </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item">
        <a href="" (click)="goToCurrentCruises()" [routerLink]="" class="breadcrumb-link" translate>
            breadcrumb.current_cruises_list </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item active" translate> breadcrumb.booking</li>
</ol>
<div class="outer-div">
    <div class="booking-details" id="bookingDetails">
        <div class="col">
            <div class="row">
                <label class="uppercase" translate>cruise-details.number</label>
                <label>{{cruiseDetailsService.cruise?.number}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>booking.date</label>
                <label>{{cruiseDetailsService.cruise?.startDate | date :'short':identityService.getTimezone()}}
                    -
                    {{cruiseDetailsService.cruise?.endDate | date :'short':identityService.getTimezone()}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>booking.route</label>
                <label>{{cruiseDetailsService.cruise.route?.start?.city}}
                    → {{cruiseDetailsService.cruise.route?.destination?.city}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>account-details.first_name</label>
                <label>{{accountDetailsService.account?.firstName}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>account-details.last_name</label>
                <label>{{accountDetailsService.account?.lastName}}</label>
            </div>

            <hr/>


            <form [formGroup]="bookingForm">
                <div class="row">
                    <label class="uppercase" translate>booking.set_people</label>
                    <input type="text" id="edit-capacity" name="people" formControlName="numberOfPeople"
                           [(ngModel)]="currentPeopleNumber"
                           (ngModelChange)="filterFreeCabins(currentType)"
                           [ngClass]="{'is-invalid': bookingForm.controls.numberOfPeople.touched && bookingForm.controls.numberOfPeople.invalid}"
                           placeholder="{{'booking.people_number' | translate}}"/>

                </div>
                <div class="validation-error"
                     *ngIf="bookingForm.controls.numberOfPeople.hasError('pattern') && bookingForm.controls.numberOfPeople.touched"
                     translate>form.positive
                </div>
                <div class="validation-error"
                     *ngIf="bookingForm.controls.numberOfPeople.hasError('required') && bookingForm.controls.numberOfPeople.touched"
                     translate>form.field_required
                </div>
            </form>
            <div class="row">
                <label class="uppercase" translate>booking.want_cabin</label>
            </div>

            <div class="row-radio">
                <div class="checkbox-container">
                    <label id="yes" class="container" translate>booking.yes
                        <input type="radio" name="radio" [checked]="wantCabin" (change)="changeWantCabin('yes')">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkbox-container">
                    <label id="no" class="container" translate>booking.no
                        <input type="radio" name="radio" [checked]="!wantCabin" (change)="changeWantCabin('no')">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>

            <hr class="hr-booking"/>

            <div *ngIf="wantCabin && !bookingForm.controls.numberOfPeople.invalid">
                <div class="row">
                    <label class="uppercase" translate>booking.cabin_type</label>
                </div>
                <div class="stars">
                    <input type="radio" name="rate" id="one" [checked]="cabinTypes.firstClass"
                           (change)="chooseCabinType('First class')"/>
                    <label for="one"></label>
                    <input type="radio" name="rate" id="two" [checked]="cabinTypes.secondClass"
                           (change)="chooseCabinType('Second class')"/>
                    <label for="two"></label>
                    <input type="radio" name="rate" id="three" [checked]="cabinTypes.thirdClass"
                           (change)="chooseCabinType('Third class')"/>
                    <label for="three"></label>
                    <img class="disabled-img" #disabledClass src="../../../assets/imgs/disabled.png" alt="alt"
                         (click)="chooseCabinType('Disabled class')">
                </div>
                <div class="row" *ngIf="cabinTypeChosen && !noCabinsAvailable">
                    <label class="uppercase" translate>booking.pick_cabin_number</label>
                    <select class="edit-content-select" id="edit-number" [ngClass]="{'is-invalid': wantCabin && selectedNumber.length < 4}"
                            [(ngModel)]="selectedNumber" (ngModelChange)="selectCabin()">
                        <option value="" disabled selected translate>booking.cabin_number</option>
                        <option *ngFor="let cabin of filteredCabins" value="{{cabin.number}}" id="{{cabin}}" >
                            {{cabin.number}}, {{cabin.capacity}}{{'booking.people' | translate}} </option>
                    </select>
                </div>
                <div class="validation-error-cabin"
                     *ngIf="wantCabin && selectedNumber.length < 4 && cabinTypeChosen && !noCabinsAvailable"
                     translate>form.field_required
                </div>
                <div class="center-text" *ngIf="cabinTypeChosen && noCabinsAvailable" translate>booking.no_cabins</div>
                <hr class="hr-booking"/>
            </div>


            <div *ngIf="wantCabin && bookingForm.controls.numberOfPeople.invalid" class="center-text" translate>
                booking.number_first
            </div>


            <div class="row">
                <label class="uppercase" translate>booking.vehicle_type</label>
            </div>
            <div class="row-radio-vehicle">
                <div class="checkbox-container">
                    <label id="none" class="container"> <img class="vehicle-img-cross" src="../../../assets/imgs/close.png"
                                                             alt="">
                        <input type="radio" name="vehicle" [checked]="vehicleTypes.none"
                               (change)="chooseVehicleType('none')">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkbox-container">
                    <label id="bike" class="container"> <img class="vehicle-img" src="../../../assets/imgs/motorcycle.png"
                                                             alt="">
                        <input type="radio" name="vehicle" [checked]="vehicleTypes.bike"
                               (change)="chooseVehicleType('bike')">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkbox-container">
                    <label id="car" class="container"> <img class="vehicle-img" src="../../../assets/imgs/car.png" alt="">
                        <input type="radio" name="vehicle" [checked]="vehicleTypes.car"
                               (change)="chooseVehicleType('car')">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkbox-container">
                    <label id="bus" class="container"> <img class="vehicle-img" src="../../../assets/imgs/bus.png" alt="">
                        <input type="radio" name="vehicle" [checked]="vehicleTypes.bus"
                               (change)="chooseVehicleType('bus')">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <hr class="hr-booking"/>
            <div class="row">
                <label class="uppercase" translate>booking-details.price</label>
                <label>{{currentPrice}}</label>
            </div>
            <button class="edit-button" id="saveBtn" (click)="displayPrompt()" [disabled]="bookingForm.invalid || (wantCabin && selectedNumber.length < 4) || (wantCabin && noCabinsAvailable)" translate>booking.ok
            </button>
            <img class="return-arrow" src="assets/imgs/back-arrow.png"
                 alt="" (click)="goToCurrentCruises()"/>
            <div class="booking-error" *ngIf="conflict">booking.error_conflict</div>
            <div class="booking-error" *ngIf="errorConstraint">booking.error_constraint</div>
        </div>
    </div>
</div>
<app-confirmation *ngIf="isPromptVisible"
                  (isPromptVisibleAndAnswer)="getConfirmationResult($event)"></app-confirmation>
