.outer-div{
    width: 100%;
}

.ferry{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 1;
}

.zone{
    z-index: 99;
    position: absolute;
    width: 29%;
}
.az{
    left: 20%;
    top: 36.5%;
}

.bz{
    left: 20.3%;
    top: 51.5%;
    width: 28.5%;
}

.cz{
    left: 49.5%;
    top: 37.5%;
}
.dz{
    left: 49.5%;
    top: 51.5%;
}

.picked{
    position: absolute;
    width: 25%;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
}

.checkbox-container{
    max-width: inherit;
    display: flex;
    position: relative;
    margin-bottom: 70%;
    flex-direction: row;
    flex-wrap: wrap;
}
