<div class="overlay">
    <div class="form-container">
        <img class="circle" src="assets/login-register-circle.png" alt=""/>
        <img class="logo" (click)="closeComponent()" src="assets/logo_primary_color.png" alt=""/>
        <div class="validation-error login-error" *ngIf="error">
            <p id="invalidCredentialsLabel" translate>ERROR.INVALID_LOGIN_OR_PASSWORD</p>
        </div>
        <form action="">
            <label for="login"></label>
            <input [(ngModel)]="login" type="text" id="login" name="Login"
                   placeholder="*Login" required><br>
            <label for="password"></label>
            <input [(ngModel)]="password" type="password" id="password" name="Password"
                   placeholder="{{'form.required_password' | translate}}" required><br><br>
            <button (click)="auth()" class="form-button" id="loginFormBtn"
                    translate>links.sing_in</button>
        </form>
        <div class="column-nav">
            <a (click)="openResetPassword()"
               translate>login.forgot_password</a>
            <a (click)="openRegister()"
               translate>login.sign_up_if_no_account</a>
        </div>
        <img class="return-arrow" (click)="closeComponent()" src="assets/back-arrow.png" alt=""/>
    </div>
</div>
