<div class="overlay">
    <div class="form-container">
        <img class="circle" src="assets/login-register-circle.png" alt=""/>
        <img class="logo" (click)="closeComponent()" src="assets/logo_primary_color.png" alt=""/>
        <form action="">
            <label for="login"></label>
            <input [(ngModel)]="login" type="text" id="login" name="Login" placeholder="*Login" required><br>
            <label for="password"></label>
            <input [(ngModel)]="password" type="password" id="password" name="Password" placeholder="*Hasło" required><br><br>
            <button (click)="auth()" class="form-button">Zaloguj</button>
        </form>
        <div class="column-nav">
            <a (click)="openRegister()">Nie masz konta? Zarejestruj się</a>
        </div>
        <img class="return-arrow" (click)="closeComponent()" src="assets/back-arrow.png" alt=""/>
    </div>
</div>
