<div class="main">
    <div class="container">
        <img class="main-image" src="assets/mewa.jpg" alt=""/>

        <app-navigation [isSticky]="false"></app-navigation>

        <div class="centered">
            <p class="main-text" translate>main-page.advert</p>
            <p>
                <button class="button" translate>main-page.check_now</button>
            </p>
        </div>
    </div>

    <button class="login-button" routerLink="/login" translate>main-page.sign_in_to_book</button>

    <app-popular-offers></app-popular-offers>

    <app-footer></app-footer>
</div>

<router-outlet></router-outlet>
