<div class="main">
    <div class="container">
        <img class="main-image" src="assets/mewa.jpg" alt=""/>

        <app-navigation [isSticky]="false"></app-navigation>

        <div class="centered">
            <p class="main-text" i18n="Advert|Fairytale cruises">Przeprawy promowe jak z bajki</p>
            <p>
                <button class="button" i18n="Check now|">Sprawdź teraz!</button>
            </p>
        </div>
    </div>

    <button class="login-button" routerLink="/login" i18n="Sign in to book|">Zaloguj się, aby zarezerwować bilet!</button>

    <app-popular-offers></app-popular-offers>

    <app-footer></app-footer>
</div>

<router-outlet></router-outlet>
