<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="" (click)="goToHomeBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate>
            breadcrumb.home </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item">
        <a href="" (click)="goToFerryListBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate>
            breadcrumb.ferries_list </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item active" translate>breadcrumb.ferry</li>
</ol>

<div class="outer-div">
    <div *ngIf="(ferryEdit.response) !== HIDDEN" class="info-popup">
        <p *ngIf="(ferryEdit.response) === SUCCESS" class="edit-success" translate>ferry-edit.result_success</p>
        <p *ngIf="(ferryEdit.response) === GONE" class="edit-failure" translate>ferry-edit.result_gone</p>
        <p *ngIf="(ferryEdit.response) === FAILURE" class="edit-failure" translate>ferry-edit.result_failure</p>
        <p *ngIf="(ferryEdit.response) === OPTIMISTIC_LOCK" class="edit-failure" translate>ERROR.OPTIMISTIC_LOCK_ERROR</p>
    </div>
    <div class="info-popup" *ngIf="ferryDetailsService.popup != 'hidden'">
        <p *ngIf="ferryDetailsService.popup === 'add_cabin_success'" class="edit-success">ferry-details.add_cabin_success</p>
    </div>
    <div class="ferry-details" id="ferryDetails">

        <div class="button-container">
            <button class="edit-button button-add" (click)="addCabin()" translate>ferry-details.add_cabin</button>
            <button class="edit-button" (click)="changeEditFerryFormVisible(ferryEdit = {
                    isFormVisible: true, response: 'hide'})" translate>general.edit</button>
            <button class="edit-button" (click)="getFerry(true)" translate>general.refresh</button>
        </div>
        <div class="col">
            <div class="row">
                <label class="uppercase" translate>ferry-details.name</label>
                <label id="name">{{ferryDetailsService.ferry.name}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>ferry-details.on_deck_capacity</label>
                <label id="onDeckCapacity">{{ferryDetailsService.ferry.onDeckCapacity}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>ferry-details.vehicle_capacity</label>
                <label id="vehicleCapacity">{{ferryDetailsService.ferry.vehicleCapacity}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>ferry-details.modification_date</label>
                <label id="modificationDate">{{ferryDetailsService.ferry.modificationDate | date :'short':identityService.getTimezone()}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>ferry-details.modified_by</label>
                <label id="modifiedBy">{{ferryDetailsService.ferry.modifiedBy?.login}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>ferry-details.creation_date</label>
                <label id="creationDate">{{ferryDetailsService.ferry.creationDate | date :'short':identityService.getTimezone()}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>ferry-details.created_by</label>
                <label id="createdBy">{{ferryDetailsService.ferry.createdBy?.login}}</label>
            </div>
        </div>
        <hr/>
        <div class="cabins">
            <div *ngIf="ferryDetailsService.ferry.cabins.length > 0; then showCabinTable else doNotShowCabinTable"></div>
            <ng-template #showCabinTable>
                <label class="uppercase-cabins" translate>ferry-details.cabins</label>
                <app-cabin-table id="cabins" [ferry]="ferryDetailsService.ferry.name" [cabins]="ferryDetailsService.ferry.cabins"></app-cabin-table>
            </ng-template>
            <ng-template #doNotShowCabinTable>
                <label class="uppercase-cabins" translate>ferry-details.no_cabins</label>
            </ng-template>
        </div>
    </div>
</div>
<app-ferry-edit *ngIf="ferryEdit.isFormVisible"
                  (isEditFerryFormVisible)="changeEditFerryFormVisible($event); getFerry(false)"></app-ferry-edit>
