<div class="overlay">
    <div class="change-password-form-container">
        <form class="change-password-form" action="" [formGroup]="form">
            <img class="logo" src="assets/logo_primary_color.png" alt=""/>

            <label for="old-password"></label>
            <input #oldPassword type="password" id="old-password" name="OldPassword"
                   placeholder="*Hasło" i18n-placeholder="Password|" formControlName="oldPassword"
                   [ngClass]="{'is-invalid': form.controls.oldPassword.touched && form.controls.oldPassword.invalid}"><br>
            <div class="validation-error" *ngIf="form.controls.oldPassword.hasError('required')
                && form.controls.oldPassword.touched" i18n="Field required|">Pole wymagane
            </div>

            <label for="new-password"></label>
            <input #newPassword type="password" id="new-password" name="Password"
                   placeholder="*Nowe hasło" i18n-placeholder="New password|" formControlName="password"
                   [ngClass]="{'is-invalid': form.controls.password.touched && form.controls.password.invalid}"><br>
            <div class="validation-error"
                 *ngIf="form.controls.password.hasError('required') && form.controls.password.touched"
                 i18n="Field required|">Pole wymagane
            </div>
            <div class="validation-error"
                 *ngIf="form.controls.password.hasError('minlength') && form.controls.password.touched"
                 i18n="Short password|">Hasło za krótkie
            </div>

            <label for="new-password-repeat"></label>
            <input type="password" id="new-password-repeat" appConfirmEqualValidator="password" name="PasswordRepeat"
                   placeholder="*Powtórz nowe hasło" i18n-placeholder="Repeat new password|"
                   formControlName="passwordRepeat"
                   [ngClass]="{'is-invalid': form.controls.passwordRepeat.touched && form.controls.passwordRepeat.invalid}"><br>
            <div class="validation-error" *ngIf="form.controls.passwordRepeat.hasError('notMatching')
                && !form.controls.passwordRepeat.hasError('required') && form.controls.passwordRepeat.touched"
                 i18n="Passwords differ|">Hasła nie są takie same
            </div>
            <div class="validation-error"
                 *ngIf="form.controls.passwordRepeat.hasError('required') && form.controls.passwordRepeat.touched"
                 i18n="Field required|">Pole wymagane
            </div>
            <br>

            <button class="form-button" (click)="changePassword(oldPassword.value, newPassword.value)"
                    [disabled]="form.invalid" i18n="Confirm|">Potwierdź
            </button>
            <img class="return-arrow" (click)="closeComponent()" src="assets/back-arrow.png" alt=""/>
        </form>
    </div>
</div>

