@import '../../../styles.less';

input {
    width: 65%;
}

input::placeholder{
    font: lighter 1.6rem Source Sans Pro;
    line-height: 4.4vh;
    color: @footer-accent-color;
    outline: none;
}

@media screen and (max-height: 750px){
    input::placeholder{
        line-height: 33px;
    }
}

.form-button {
    font: lighter 1.4rem Source Sans Pro;
    height: 40px;
}

.change-password-form-container {
    background-color: #f2aa00;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: 28vw;
    text-align: center;
}

.logo {
    //background-color: pink;
    display: block;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    width: auto;
    cursor: pointer;
    outline-width: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 10px;
    //background-color: #6BAF92;
}

.change-password-form {
    background-color: white;
    border-radius: 10px;
    padding-top: 105px;
    padding-bottom: 90px;
}

.return-arrow {
    .return-arrow-base();
    //background-color: #0F084B;
    display: block;
    position: fixed;
    //width: 10%;
    //height: auto;
    height: 40px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    outline-width: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 1px;
}

.validation-error {
    left: 89%;
}


