<div class="overlay">
    <form [formGroup]="form">
        <div class="box-container">
            <div class="row">
                <label class="uppercase" translate>ferry-details.on_deck_capacity</label>
                <input [(ngModel)]="onDeckCapacity" type="number" formControlName="onDeckCapacity"
                       placeholder="{{ferryDetailsService.ferry.onDeckCapacity}}"
                       [ngClass]="{'is-invalid': form.controls.onDeckCapacity.touched && form.controls.onDeckCapacity.invalid}">
            </div>
            <div class="row">
                <label class="uppercase" translate>ferry-details.vehicle_capacity</label>
                <input [(ngModel)]="vehicleCapacity" type="number" formControlName="vehicleCapacity"
                       placeholder="{{ferryDetailsService.ferry.vehicleCapacity}}"
                       [ngClass]="{'is-invalid': form.controls.vehicleCapacity.touched && form.controls.vehicleCapacity.invalid}">
            </div>
            <div class="validation-error"
                 *ngIf="form.controls.onDeckCapacity.hasError('pattern') && form.controls.onDeckCapacity.touched"
                 translate>ferry-edit.invalid_on_deck_capacity
            </div>
            <div class="validation-error"
                 *ngIf="form.controls.vehicleCapacity.hasError('pattern') && form.controls.vehicleCapacity.touched"
                 translate>ferry-edit.invalid_vehicle_capacity
            </div>
            <button [disabled]="form.invalid" id="confirm" class="form-button" (click)="changeFerryClick()" translate>form.confirm</button>
            <img class="return-arrow" (click)="closeComponent()" src="assets/imgs/back-arrow.png" alt=""/>
        </div>
    </form>
</div>
<app-confirmation *ngIf="isConfirmationVisible"
                  (isPromptVisibleAndAnswer)="confirmationResult($event)"></app-confirmation>
