<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="" (click)="goToHomeBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate>
            breadcrumb.home </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item" *ngIf="identityService.isEmployee()">
        <a href="" (click)="goToBookingListBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate>
            breadcrumb.booking_list </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item" *ngIf="identityService.isClient()">
        <a href="" (click)="goToOwnBookingListBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate>
            breadcrumb.booking_list_own </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item active" translate> breadcrumb.booking</li>
</ol>

<div class="outer-div">
    <div class="booking-details" id="bookingDetails">
        <div class="button-container">
            <button class="edit-button" (click)="getBooking()" translate>general.refresh</button>
        </div>
        <div class="col">
            <div class="row">
                <label class="uppercase" translate>cruise-details.number</label>
                <label>{{bookingDetailsService.booking?.cruise?.number}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>cruise-details.start_date</label>
                <label>{{bookingDetailsService.booking?.cruise?.startDate | date :'short':identityService.getTimezone()}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>cruise-details.end_date</label>
                <label>{{bookingDetailsService.booking?.cruise?.endDate | date :'short':identityService.getTimezone()}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>route.start</label>
                <label>{{bookingDetailsService.booking?.cruise?.route?.start?.city}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>route.destination</label>
                <label>{{bookingDetailsService.booking?.cruise?.route?.destination?.city}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>account-details.first_name</label>
                <label>{{bookingDetailsService.booking?.account?.firstName}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>account-details.last_name</label>
                <label>{{bookingDetailsService.booking?.account?.lastName}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>booking-details.number_of_people</label>
                <label>{{bookingDetailsService.booking?.numberOfPeople}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>booking-details.cabin_number</label>
                <label>{{bookingDetailsService.booking?.cabin?.number}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>booking-details.cabin</label>
                <label translate>{{translateCabinType(bookingDetailsService.booking?.cabin?.cabinType) | translate}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>cabin-table.capacity</label>
                <label>{{bookingDetailsService.booking?.cabin?.capacity}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>booking-details.vehicle_type</label>
                <label>{{translateVehicleType(bookingDetailsService.booking?.vehicleType?.vehicleTypeName) | translate}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>booking-details.price</label>
                <label>{{bookingDetailsService.booking?.price}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>booking-details.number</label>
                <label>{{bookingDetailsService.booking?.number}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>booking-details.creation_date</label>
                <label>{{bookingDetailsService.booking?.creationDate | date :'short':identityService.getTimezone()}}</label>
            </div>
        </div>
    </div>
</div>
