<div class="overlay">
    <div class="form-container">
        <img class="circle" src="assets/login-register-circle.png" alt=""/>
        <img class="logo" routerLink="/" src="assets/logo_primary_color.png" alt=""/>
        <form action="">
            <label for="login"></label>
            <input type="text" id="login" name="Login" placeholder="Login"><br>
            <label for="password"></label>
            <input type="password" id="password" name="Password" placeholder="Hasło"><br><br>
            <button class="form-button">Zaloguj</button>
        </form>
        <div class="column-nav">
            <a routerLink="/register">Nie masz konta? Zarejestruj się</a>
            <!--            <a routerLink="/">Wróć</a>-->
        </div>
    </div>
</div>
