@import '../../styles.less';

.logo {
    width: 40%;
    position: absolute;
    top: 32vh;
    bottom: 68vh;
    left: 48%;
    transform: translateX(-50%);
    margin: auto;
}

.column-nav {
    display: flex;
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}


