<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="" (click)="goToHomeBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate>
            breadcrumb.home </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item active" translate> breadcrumb.ferries_list</li>
</ol>

<div class="button-ferry-container">
    <button class="button-ferries-table" (click)="getFerries()" translate>general.refresh</button>
</div>

<div class="ferries-list-container">
    <table id="users">
        <tr>
            <th translate> ferries-table.name</th>
            <th translate>ferries-table.on_deck_capacity</th>
            <th translate>ferries-table.vehicle_capacity</th>
            <th translate>general.details</th>
        </tr>
        <tr *ngFor="let ferry of listFerries()">
            <td>{{ferry['name']}}</td>
            <td>{{ferry['onDeckCapacity']}}</td>
            <td>{{ferry['vehicleCapacity']}}</td>
            <td>
                <button id="details" class="button-ferries-table" (click)="goToFerryDetails(ferry['name'])" translate>
                    general.details
                </button>
            </td>
        </tr>
    </table>
</div>
