<table>
    <tr>
        <th translate>cruise-table.number</th>
        <th translate>cruise-table.start_date</th>
        <th translate>cruise-table.end_date</th>
        <th translate>cruise-table.name_of_ferry</th>
        <th translate>cruise-table.popularity</th>
    </tr>
    <tr *ngFor="let cruise of cruises">
        <td>{{cruise.number}}</td>
        <td>{{cruise.startDate | date :'short':identityService.getTimezone()}}</td>
        <td>{{cruise.endDate | date :'short':identityService.getTimezone()}}</td>
        <td>{{cruise.ferry?.name}}</td>
        <td>{{cruise.popularity | number:'1.2-2' }}%</td>
        <td>
            <button class="edit-button button-remove" (click)="removeCruiseClick(cruise.number)" translate>cruise-table.remove_cruise</button>
        </td>
        <td>
            <button class="edit-button" (click)="cruiseDetails(cruise.number)" translate>cruise-table.cruise_details</button>
        </td>
    </tr>
</table>
<app-confirmation *ngIf="isConfirmationVisible"
                  (isPromptVisibleAndAnswer)="confirmationResult($event)"></app-confirmation>
