<div class="outer-div">
    <div class="route-details" id="routeDetails">
        <div class="button-container">
            <button class="edit-button button-add" translate>route-details.add_cruise</button>
            <button class="edit-button" translate>general.edit</button>
            <button class="edit-button" translate>general.refresh</button>
        </div>
        <div class="col">
            <div class="row">
                <label class="uppercase" translate>route-details.code</label>
                <label id="code">{{route.code}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>route-details.start</label>
                <label id="startCity">{{route.start?.city}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>route-details.destination</label>
                <label id="destinationCity">{{route.destination?.city}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>route-details.creation_date</label>
                <label id="creationDate">{{route.creationDate | date :'short':identityService.getTimezone()}}</label>
            </div>
            <div class="row">
                <label class="uppercase" translate>route-details.created_by</label>
                <label id="createdBy">{{route.createdBy.login}}</label>
            </div>
        </div>
        <hr/>
        <div class="cruises">
            <label class="uppercase-cruises" translate>route-details.cruises</label>
            <app-cruise-table id="cruises" [cruises]="route.cruises"></app-cruise-table>
        </div>
    </div>
</div>
