<div class="overlay">
    <div class="box-container">
        <div class="top-center" translate>
            access-level-form.choose_access_level
        </div>
        <div class="checkbox-container">
            <label class="container admin" translate>general.administrator
                <input type="checkbox"  name="radio" [(ngModel)]="accessLevel.admin">
                <span class="checkmark admin"></span>
            </label>
            <label class="container employee" translate>general.employee
                <input type="checkbox" name="radio" [(ngModel)]="accessLevel.employee">
                <span class="checkmark employee"></span>
            </label>
            <label class="container client" translate>general.client
                <input type="checkbox" name="radio" [(ngModel)]="accessLevel.client">
                <span class="checkmark client"></span>
            </label>
            <button class="form-button" id="confirmButton" (click)="confirm()" translate>form.confirm</button>
            <img class="return-arrow" (click)="closeComponent()" src="assets/imgs/back-arrow.png" alt=""/>
        </div>
    </div>
</div>
