<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="" (click)="goToHomeBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate>
            breadcrumb.home </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item">
        <a href="" (click)="goToFerryListBreadcrumb()" [routerLink]="" class="breadcrumb-link" translate>
            breadcrumb.ferries_list </a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item active" translate>breadcrumb.ferry_add</li>
</ol>

<div class="outer-div">
    <form class="edit-form" [formGroup]="form">
        <div class="col">
            <div class="row">
                <label translate>add-ferry.new_ferry</label>
            </div>
            <div class="row">
                <input type="text" id="add-name" formControlName="name"
                       placeholder="{{'add-ferry.name' | translate}}"
                       [ngClass]="{'is-invalid': form.controls.name.touched && form.controls.name.invalid}"/>
                <div class="validation-error"
                     *ngIf="form.controls.name.hasError('required') && form.controls.name.touched"
                     translate>form.field_required
                </div>
                <div class="validation-error" *ngIf="form.controls.name.hasError('maxlength') && form.controls.name.touched"
                     translate>form.invalid_format
                </div>
            </div>

            <div class="row">
                <input type="text" id="add-vehicle-capacity" formControlName="vehicleCapacity"
                       placeholder="{{'add-ferry.vehicle_capacity' | translate}}"
                       [ngClass]="{'is-invalid': form.controls.vehicleCapacity.touched && form.controls.vehicleCapacity.invalid}"/>
                <div class="validation-error"
                     *ngIf="form.controls.vehicleCapacity.hasError('required') && form.controls.vehicleCapacity.touched"
                     translate>form.field_required
                </div>
                <div class="validation-error"
                     *ngIf="form.controls.vehicleCapacity.hasError('pattern') && form.controls.vehicleCapacity.touched"
                     translate>form.invalid_format
                </div>
            </div>

            <div class="row">
                <input type="text" id="add-on-deck-capacity" formControlName="onDeckCapacity"
                       placeholder="{{'add-ferry.on_deck_capacity' | translate}}"
                       [ngClass]="{'is-invalid': form.controls.onDeckCapacity.touched && form.controls.onDeckCapacity.invalid}"/>
                <div class="validation-error"
                     *ngIf="form.controls.onDeckCapacity.hasError('required') && form.controls.onDeckCapacity.touched"
                     translate>form.field_required
                </div>
                <div class="validation-error"
                     *ngIf="form.controls.onDeckCapacity.hasError('pattern') && form.controls.onDeckCapacity.touched"
                     translate>form.invalid_format
                </div>
            </div>
        </div>
        <button class="edit-button" [disabled]=form.invalid translate>form.save</button>
        <img class="return-arrow" (click)="goToFerryListBreadcrumb()"
             src="assets/imgs/back-arrow.png"
             alt=""/>
    </form>
</div>
