<div class="overlay">
    <div class="form-container">
        <img class="circle" src="assets/login-register-circle.png" alt=""/>
        <img class="logo" (click)="closeComponent()" src="assets/logo_primary_color.png" alt=""/>
        <form action="" [formGroup]="form">
            <label for="login-reg"></label>
            <input #login type="text" id="login-reg" name="Login"
                   placeholder="*Login" i18n-placeholder="*Login|" formControlName="login"
                   [ngClass]="{'is-invalid': form.controls.login.touched && form.controls.login.invalid}"><br>
            <div class="validation-error" *ngIf="form.controls.login.hasError('required')
                && form.controls.login.touched" i18n="Field required|">Pole wymagane</div>

            <label for="email-reg"></label>
            <input #email type="text" id="email-reg" name="Email"
                   placeholder="*Adres e-mail" i18n-placeholder="*Email address|" formControlName="email"
                   [ngClass]="{'is-invalid': form.controls.email.touched && form.controls.email.invalid}">
            <div class="validation-error" *ngIf="form.controls.email.hasError('required') && form.controls.email.touched"
                 i18n="Field required|">Pole wymagane</div>
            <div class="validation-error" *ngIf="form.controls.email.hasError('email') && form.controls.email.touched"
                 i18n="Invalid format|">Niepoprawny format</div>

            <label for="email-reg-repeat"></label>
            <input type="text" id="email-reg-repeat" name="Email-repeat"
                   placeholder="*Powtórz adres e-mail" i18n-placeholder="Repeat email|" formControlName="emailRepeat"
                   [ngClass]="{'is-invalid': form.controls.emailRepeat.touched && form.controls.emailRepeat.invalid}">
            <div class="validation-error" *ngIf="form.controls.emailRepeat.hasError('required') && form.controls.emailRepeat.touched"
                 i18n="Field required|">Pole wymagane</div>
            <div class="validation-error" *ngIf="form.controls.emailRepeat.hasError('notMatching') && form.controls.emailRepeat.touched
            && !form.controls.emailRepeat.hasError('required')"
                 i18n="Emails differ|">Adresy nie są takie same</div>

            <label for="password-reg"></label>
            <input #password type="password" id="password-reg" name="Password"
                   placeholder="*Hasło" i18n-placeholder="*Password|" formControlName="password"
                   [ngClass]="{'is-invalid': form.controls.password.touched && form.controls.password.invalid}">
            <div class="validation-error" *ngIf="form.controls.password.hasError('required') && form.controls.password.touched"
                 i18n="Field required|">Pole wymagane</div>
            <div class="validation-error" *ngIf="form.controls.password.hasError('minlength') && form.controls.password.touched"
                i18n="Short password|">Hasło za krótkie</div>

            <label for="passwordRegRepeat"></label>
            <input type="password" id="passwordRegRepeat" appConfirmEqualValidator="password" name="PasswordRegRepeat"
                   placeholder="*Powtórz hasło" i18n-placeholder="Repeat password|" formControlName="passwordRepeat"
                   [ngClass]="{'is-invalid': form.controls.passwordRepeat.touched && form.controls.passwordRepeat.invalid}">
            <div class="validation-error" *ngIf="form.controls.passwordRepeat.hasError('notMatching')
                && !form.controls.passwordRepeat.hasError('required') && form.controls.passwordRepeat.touched"
                 i18n="Passwords differ|">Hasła nie są takie same</div>
            <div class="validation-error" *ngIf="form.controls.passwordRepeat.hasError('required') && form.controls.passwordRepeat.touched"
                 i18n="Field required|">Pole wymagane</div>

            <label for="first-name"></label>
            <input #firstname type="text" id="first-name" name="Name"
                   placeholder="*Imię" i18n-placeholder="*First name|" formControlName="firstName"
                   [ngClass]="{'is-invalid': form.controls.firstName.touched && form.controls.firstName.invalid}">
            <div class="validation-error" *ngIf="form.controls.firstName.hasError('required') && form.controls.firstName.touched"
                 i18n="Field required|">Pole wymagane</div>

            <label for="last-name"></label>
            <input #lastName type="text" id="last-name" name="Last-name"
                   placeholder="*Nazwisko" i18n-placeholder="*Last name|" formControlName="lastName"
                   [ngClass]="{'is-invalid': form.controls.lastName.touched && form.controls.lastName.invalid}">
            <div class="validation-error" *ngIf="form.controls.lastName.hasError('required') && form.controls.lastName.touched"
                 i18n="Field required|">Pole wymagane</div>

            <label for="phone-number"></label>
            <input #phoneNumber type="text" id="phone-number" name="Phone-number"
                   placeholder="Numer telefonu" i18n-placeholder="Phone number|" formControlName="phoneNumber"
                   [ngClass]="{'is-invalid': form.controls.phoneNumber.touched && form.controls.phoneNumber.invalid}">
            <div class="validation-error" *ngIf="form.controls.phoneNumber.hasError('pattern') && form.controls.phoneNumber.touched"
                 i18n="Invalid format|">Niepoprawny format, nr telefonu powinien <br />zawierać od 3 do 15 cyfr</div><br><br>

            <button class="form-button"
                    (click)="register(login.value, password.value, firstname.value, lastName.value, email.value, phoneNumber?.value)"
                    [disabled]="form.invalid" i18n="Sign up|">Zarejestruj</button>
        </form>
        <div class="column-nav">
            <a (click)="openLogin()" i18n="Sign in if having an account|Signing in in case of having an account">Masz już konto? Zaloguj się!</a>
        </div>
        <img class="return-arrow" (click)="closeComponent()" src="assets/back-arrow.png" alt=""/>
    </div>
</div>
