<div class="overlay">
    <div class="form-container">
        <img class="circle" src="assets/imgs/login-register-circle.png" alt=""/>
        <img class="logo" (click)="closeComponent()" src="assets/imgs/logo_primary_color.png" alt=""/>
        <form action="" [formGroup]="form">
            <label for="login-reg"></label>
            <input #login type="text" id="login-reg" name="Login"
                   placeholder="*Login" formControlName="login"
                   [ngClass]="{'is-invalid': form.controls.login.touched && form.controls.login.invalid}"><br>
            <div class="validation-error" *ngIf="form.controls.login.hasError('required')
                && form.controls.login.touched" translate>form.field_required</div>

            <label for="email-reg"></label>
            <input #email type="text" id="email-reg" name="Email"
                   placeholder="{{'form.required_email_address' | translate}}" formControlName="email"
                   [ngClass]="{'is-invalid': form.controls.email.touched && form.controls.email.invalid}">
            <div class="validation-error" *ngIf="form.controls.email.hasError('required') && form.controls.email.touched"
                 translate>form.field_required</div>
            <div class="validation-error" *ngIf="form.controls.email.hasError('email') && form.controls.email.touched"
                 translate>form.invalid_format</div>

            <label for="email-reg-repeat"></label>
            <input type="text" id="email-reg-repeat" name="Email-repeat"
                   placeholder="{{'form.required_repeat_email_address' | translate}}" formControlName="emailRepeat"
                   [ngClass]="{'is-invalid': form.controls.emailRepeat.touched && form.controls.emailRepeat.invalid}">
            <div class="validation-error" *ngIf="form.controls.emailRepeat.hasError('required') && form.controls.emailRepeat.touched"
                 translate>form.field_required</div>
            <div class="validation-error" *ngIf="form.controls.emailRepeat.hasError('notMatching') && form.controls.emailRepeat.touched
            && !form.controls.emailRepeat.hasError('required')"
                 translate>form.email_differ</div>

            <label for="password-reg"></label>
            <input #password type="password" id="password-reg" name="Password"
                   placeholder="{{'form.required_password' | translate}}" formControlName="password"
                   [ngClass]="{'is-invalid': form.controls.password.touched && form.controls.password.invalid}">
            <div class="validation-error" *ngIf="form.controls.password.hasError('required') && form.controls.password.touched"
                 translate>form.field_required</div>
            <div class="validation-error" *ngIf="form.controls.password.hasError('minlength') && form.controls.password.touched"
                 translate>form.short_password</div>

            <label for="password-reg-repeat"></label>
            <input type="password" id="password-reg-repeat" appConfirmEqualValidator="password" name="PasswordRegRepeat"
                   placeholder="{{'form.required_repeat_password' | translate}}" formControlName="passwordRepeat"
                   [ngClass]="{'is-invalid': form.controls.passwordRepeat.touched && form.controls.passwordRepeat.invalid}">
            <div class="validation-error" *ngIf="form.controls.passwordRepeat.hasError('notMatching')
                && !form.controls.passwordRepeat.hasError('required') && form.controls.passwordRepeat.touched"
                 translate>form.passwords_differ</div>
            <div class="validation-error" *ngIf="form.controls.passwordRepeat.hasError('required') && form.controls.passwordRepeat.touched"
                 translate>form.field_required</div>

            <label for="first-name"></label>
            <input #firstname type="text" id="first-name" name="Name"
                   placeholder="{{'form.required_first_name' | translate}}" formControlName="firstName"
                   [ngClass]="{'is-invalid': form.controls.firstName.touched && form.controls.firstName.invalid}">
            <div class="validation-error" *ngIf="form.controls.firstName.hasError('required') && form.controls.firstName.touched"
                 translate>form.field_required</div>

            <label for="last-name"></label>
            <input #lastName type="text" id="last-name" name="Last-name"
                   placeholder="{{'form.required_last_name' | translate}}" formControlName="lastName"
                   [ngClass]="{'is-invalid': form.controls.lastName.touched && form.controls.lastName.invalid}">
            <div class="validation-error" *ngIf="form.controls.lastName.hasError('required') && form.controls.lastName.touched"
                 translate>form.field_required</div>

            <label for="phone-number"></label>
            <input #phoneNumber type="text" id="phone-number" name="Phone-number"
                   placeholder="{{'form.phone_number' | translate}}" formControlName="phoneNumber"
                   [ngClass]="{'is-invalid': form.controls.phoneNumber.touched && form.controls.phoneNumber.invalid}">
            <div class="validation-error" *ngIf="form.controls.phoneNumber.hasError('pattern') && form.controls.phoneNumber.touched"
                 translate>form.invalid_phone_number</div><br><br>

            <button id="confirm" class="form-button"
                    (click)="register(login.value, password.value, firstname.value, lastName.value, email.value, phoneNumber?.value)"
                    [disabled]="form.invalid" translate>links.sign_up</button>
        </form>
        <div class="column-nav">
            <a (click)="openLogin()" translate>register.sing_in_if_having_an_account</a>
        </div>
        <img class="return-arrow" (click)="closeComponent()" src="assets/imgs/back-arrow.png" alt=""/>
        <div class="validation-error validation-info" *ngIf="error">
            <p id="invalidCredentialsLabel" translate>ERROR.DUPLICATE_LOGIN_PHONE_NUMBER_OR_EMAIL</p>
        </div>
    </div>
</div>
