<div class="popular-offers" translate>popular-offers.popular_routes</div>

<div class="popular-offers-hr"></div>
<div class="row">
    <app-offer imgPath="assets/imgs/offer1.png"></app-offer>
    <app-offer imgPath="assets/imgs/offer2.png"></app-offer>
    <app-offer imgPath="assets/imgs/offer3.png"></app-offer>
</div>
<div class="row">
    <app-offer imgPath="assets/imgs/offer1.png"></app-offer>
    <app-offer imgPath="assets/imgs/offer2.png"></app-offer>
    <app-offer imgPath="assets/imgs/offer3.png"></app-offer>
</div>
