<div class="overlay">
    <div class="form-container">
        <img class="circle" src="assets/login-register-circle.png" alt=""/>
        <img class="logo" (click)="closeComponent()" src="assets/logo_primary_color.png" alt=""/>
        <form action="" [formGroup]="form">
            <label for="email"></label>
            <input [(ngModel)]="email" type="text" id="email" name="email" formControlName="emailFormControl"
                   placeholder="{{'reset-password.required_enter_your_email_address' | translate}}"><br>
            <div class="validation-error" *ngIf="form.controls.emailFormControl.hasError('required') && form.controls.emailFormControl.touched"
                 translate>form.field_required</div>
            <div class="validation-error" *ngIf="form.controls.emailFormControl.hasError('email') && form.controls.emailFormControl.touched"
                 translate>form.invalid_format</div>
            <button (click)="reset()" class="form-button" id="resetPasswordFormBtn"
                    translate>reset-password.reset_password</button>
        </form>
        <img class="return-arrow" (click)="openLogin()" src="assets/back-arrow.png" alt=""/>
    </div>
</div>
