<div class="overlay">
    <div class="form-container">
        <img class="circle" src="assets/login-register-circle.png" alt=""/>
        <img class="logo" (click)="closeComponent()" src="assets/logo_primary_color.png" alt=""/>
        <form action="" [formGroup]="form">
            <label for="email"></label>
            <input [(ngModel)]="email" type="text" id="email" name="email" formControlName="emailFormControl"
                   placeholder="*Podaj swój adres email" i18n-placeholder="Enter your email address|"><br>
            <div class="validation-error" *ngIf="form.controls.emailFormControl.hasError('required') && form.controls.emailFormControl.touched"
                 i18n="Field required|">Pole wymagane</div>
            <div class="validation-error" *ngIf="form.controls.emailFormControl.hasError('email') && form.controls.emailFormControl.touched"
                 i18n="Invalid format|">Niepoprawny format</div>
            <button (click)="reset()" class="form-button" id="resetPasswordFormBtn"
                    i18n="Reset password|">Resetuj hasło</button>
        </form>
        <img class="return-arrow" (click)="openLogin()" src="assets/back-arrow.png" alt=""/>
    </div>
</div>
