<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="" (click)="goToHomepageBreadcrumb()" class="breadcrumb-link" translate>breadcrumb.home</a>
        <img src="assets/wind.png" alt="" class="bullet">
    </li>
    <li class="breadcrumb-item active" translate>breadcrumb.routes.list</li>
</ol>

<div class="button-container">
    <div *ngIf="(result) !== 'hidden'" class="info-popup">
        <p *ngIf="(result) === 'success'" class="success" translate>route.response.success</p>
        <p *ngIf="(result) === 'failure'" class="failure" translate>route.response.failure</p>
    </div>
    <button class="top-table-button create-button" (click)="addRoute()" translate>route.add</button>
    <button class="top-table-button" (click)="refresh()" translate>general.refresh</button>
</div>

<div class="route-list-container">
    <table id="routes-table" class="routes-table">
        <tr class="table-header-row">
            <th translate>route.code</th>
            <th translate>route.start</th>
            <th translate>route.destination</th>
            <th translate>route.delete</th>
            <th translate>route.details</th>
        </tr>
        <tr *ngFor="let route of routes">
            <td>{{route.code}}</td>
            <td>{{route.start.city}}</td>
            <td>{{route.destination.city}}</td>
            <td>
                <button class="top-table-button delete-button" (click)="removeRoute(route.code)" translate>
                    route.delete
                </button>
            </td>
            <td>
                <button class="top-table-button" routerLink="{{'/ferrytales/routes/' + route.code}}" translate>
                    route.details
                </button>
            </td>
        </tr>
    </table>
</div>
