<div *ngIf="!isSticky" class="flex-container">
    <div class=left routerLink="/">
        <img #logo src="../../../assets/imgs/logo_white_basic.png" alt="Beautiful logo">
    </div>
    <div class="right">
        <app-links [stickyStyles]="false"></app-links>
    </div>
</div>

<div [ngClass]="isSticky ? 'nav-sticky' : 'nav-non-sticky'" class="flex-container fixed" #navigation>
    <div class=left routerLink="/">
        <img *ngIf="identityService.isGuest()" src="../../../assets/imgs/logo_primary_color_basic.png" alt="Beautiful logo">
        <img *ngIf="identityService.isAdmin()" src="../../../assets/imgs/logo_red_basic.png" alt="Beautiful logo">
        <img *ngIf="identityService.isEmployee()" src="../../../assets/imgs/logo_orange_basic.png" alt="Beautiful logo">
        <img *ngIf="identityService.isClient()" src="../../../assets/imgs/logo_secondary_color_basic.png" alt="Beautiful logo">
    </div>
    <div class="right">
        <app-links [loginVisible]="loginVisible" [stickyStyles]="true"></app-links>
    </div>
</div>
