<head>
    <link rel="shortcut icon" href="../assets/favicon_dolphin.png">
</head>

<div class="main">

    <div class="navbar" #navigation *ngIf="isGuest()">
        <div class="top-left-navbar">
            <img class="logo-navbar" src="assets/logo_primary_color_basic.png" alt="Beautiful logo"
                 style="max-width: 40%">
        </div>
        <div class="top-right-navbar" style="right: 5%">
            <a routerLink="">O nas</a>
            <a routerLink="">Kontakt</a>
            <a routerLink="">Trasy</a>
            <a routerLink="/login" class="login_a">Zaloguj</a>
            <a routerLink="/register" class="login_a">Zarejestruj</a>
        </div>
    </div>

    <div class="navbar" #navigation *ngIf="isAdmin()">
        <div class="top-left-navbar">
            <img class="logo-navbar" src="assets/logo_red_basic.png" alt="Beautiful logo" style="max-width: 40%">
        </div>
        <div class="top-right-navbar">
            <a routerLink="">Konta</a>
            <a routerLink="">Moje konto</a>
            <a routerLink="/main_page" (click)="signOut()" class="login_a">Wyloguj</a>
        </div>
        <div class="login-accessLevel-navbar">
            <a style="pointer-events: none; color: #ba0d41; font-weight: normal;">Administrator</a>
            <a style="pointer-events: none; color: #ba0d41; font-weight: normal;" [textContent]="getLogin()"></a>
        </div>
    </div>

    <div class="navbar" #navigation *ngIf="isClient()">
        <div class="top-left-navbar">
            <img class="logo-navbar" src="assets/logo_secondary_color_basic.png" alt="Beautiful logo"
                 style="max-width: 40%">
        </div>
        <div class="top-right-navbar">
            <a routerLink="">Aktualne rejsy</a>
            <a routerLink="">Rezerwacje</a>
            <a routerLink="">Moje konto</a>
            <a routerLink="/main_page" (click)="signOut()" class="login_a">Wyloguj</a>
        </div>
        <div class="login-accessLevel-navbar">
            <a style="pointer-events: none; color: #0F084B; font-weight: normal;">Klient</a>
            <a style="pointer-events: none; color: #0F084B; font-weight: normal;" [textContent]="getLogin()"></a>
        </div>
    </div>

    <div class="navbar" #navigation *ngIf="isEmployee()">
        <div class="top-left-navbar">
            <img class="logo-navbar" src="assets/logo_orange_basic.png" alt="Beautiful logo" style="max-width: 40%">
        </div>
        <div class="top-right-navbar">
            <a routerLink="">Promy</a>
            <a routerLink="">Trasy</a>
            <a routerLink="">Rejsy</a>
            <a routerLink="">Rezerwacje</a>
            <a routerLink="">Kajuty</a>
            <a routerLink="">Moje konto</a>
            <a routerLink="/main_page" (click)="signOut()" class="login_a">Wyloguj</a>
        </div>
        <div class="login-accessLevel-navbar">
            <a style="pointer-events: none; color: #f2aa00; font-weight: normal;">Pracownik</a>
            <a style="pointer-events: none; color: #f2aa00; font-weight: normal;" [textContent]="getLogin()"></a>
        </div>
    </div>


    <div class="container">
        <img class="main-image" src="assets/mewa.jpg" alt=""/>

        <div class="top-left">
            <img id="logo" #logo class="logo" src="assets/logo_white_basic.png" alt="Beautiful logo"
                 style="max-width: 35%">
        </div>
        <div class="top-right" *ngIf="isGuest()" style="right:5%">
            <a routerLink="">O nas</a>
            <a routerLink="">Kontakt</a>
            <a routerLink="">Trasy</a>
            <a routerLink="/login" class="login_a">Zaloguj</a>
            <a routerLink="/register" class="login_a">Zarejestruj</a>
        </div>
        <div class="top-right" *ngIf="isAdmin()">
            <a routerLink="">Konta</a>
            <a routerLink="">Moje konto</a>
            <div class="login-accessLevel">
                <a style="pointer-events: none; color: #ba0d41; font-weight: normal;">Administrator</a>
                <a style="pointer-events: none; color: #ba0d41; font-weight: normal;" [textContent]="getLogin()"></a>
            </div>
            <a routerLink="/main_page" (click)="signOut()" class="login_a" style="color: white">Wyloguj</a>
        </div>
        <div class="top-right" *ngIf="isClient()">
            <a routerLink="">Aktualne rejsy</a>
            <a routerLink="">Rezerwacje</a>
            <a routerLink="">Moje konto</a>
            <div class="login-accessLevel">
                <a style="pointer-events: none; color: #0F084B; font-weight: normal;">Klient</a>
                <a style="pointer-events: none; color: #0F084B; font-weight: normal;" [textContent]="getLogin()"></a>
            </div>
            <a routerLink="/main_page" (click)="signOut()" class="login_a" style="color: white">Wyloguj</a>
        </div>
        <div class="top-right" *ngIf="isEmployee()">
            <a routerLink="">Promy</a>
            <a routerLink="">Trasy</a>
            <a routerLink="">Rejsy</a>
            <a routerLink="">Rezerwacje</a>
            <a routerLink="">Kajuty</a>
            <a routerLink="">Moje konto</a>
            <div class="login-accessLevel">
                <a style="pointer-events: none; color: #f2aa00; font-weight: normal;">Pracownik</a>
                <a style="pointer-events: none; color: #f2aa00; font-weight: normal;" [textContent]="getLogin()"></a>
            </div>
            <a routerLink="/main_page" (click)="signOut()" class="login_a" style="color: white">Wyloguj</a>
        </div>
        <div class="centered">
            <p class="main-text">Przeprawy promowe jak z bajki</p>
            <p>
                <button class="button">Sprawdź teraz!</button>
            </p>
        </div>
    </div>
    <button class="login-button" routerLink="/login">Zaloguj się, aby zarezerwować bilet!</button>

    <div class="popular-offers">Najpopularniejsze trasy</div>

    <div class="popular-offers-hr"></div>
    <div class="row">
        <div class="column">
            <img src="assets/offer1.png" alt="Offer 1" class="offer-image"/>
            <div class="offer">
                <div class="offer-text">Warszawa - Ciechocinek</div>
                <div class="offer-price">Już od 159.99zł od osoby</div>
                <button class="offer-btn">Zarezerwuj</button>
            </div>
        </div>
        <div class="column">
            <img src="assets/offer2.png" alt="Offer 2" class="offer-image"/>
            <div class="offer">
                <div class="offer-text">Warszawa - Ciechocinek</div>
                <div class="offer-price">Już od 159.99zł od osoby</div>
                <button class="offer-btn">Zarezerwuj</button>
            </div>
        </div>
        <div class="column">
            <img src="assets/offer3.png" alt="Offer 3" class="offer-image"/>
            <div class="offer">
                <div class="offer-text">Warszawa - Ciechocinek</div>
                <div class="offer-price">Już od 159.99zł od osoby</div>
                <button class="offer-btn">Zarezerwuj</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img src="assets/offer1.png" alt="Offer 1" class="offer-image"/>
            <div class="offer">
                <div class="offer-text">Warszawa - Ciechocinek</div>
                <div class="offer-price">Już od 159.99zł od osoby</div>
                <button class="offer-btn">Zarezerwuj</button>
            </div>
        </div>
        <div class="column">
            <img src="assets/offer2.png" alt="Offer 2" class="offer-image"/>
            <div class="offer">
                <div class="offer-text">Warszawa - Ciechocinek</div>
                <div class="offer-price">Już od 159.99zł od osoby</div>
                <button class="offer-btn">Zarezerwuj</button>
            </div>
        </div>
        <div class="column">
            <img src="assets/offer3.png" alt="Offer 3" class="offer-image"/>
            <div class="offer">
                <div class="offer-text">Warszawa - Ciechocinek</div>
                <div class="offer-price">Już od 159.99zł od osoby</div>
                <button class="offer-btn">Zarezerwuj</button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<router-outlet></router-outlet>

