<div class="flex-container">
    <div class=left>
        <img #logo src="assets/logo_white_basic.png" alt="Beautiful logo">
    </div>
    <div class="right">
        <app-links [stickyStyles]="stickyStyles"></app-links>
    </div>
</div>

<div [ngClass]="isSticky ? 'nav-sticky' : 'nav-non-sticky'" class="flex-container fixed" #navigation>
    <div class=left>
        <img src="assets/logo_primary_color_basic.png" alt="Beautiful logo">
    </div>
    <div class="right">
        <app-links [stickyStyles]="stickyStyles"></app-links>
    </div>
</div>
