<div class="flex-container">
    <div class=left>
        <img #logo src="assets/logo_primary_color_basic.png" alt="Beautiful logo">
    </div>
    <div class="right">
        <a *ngIf="isGuest()" routerLink="">O nas</a>
        <a *ngIf="isGuest()" routerLink="">Kontakt</a>
        <a *ngIf="isGuest() || isEmployee()" routerLink="">Trasy</a>
        <a *ngIf="isEmployee()" routerLink="">Promy</a>
        <a *ngIf="isEmployee()" routerLink="">Trasy</a>
        <a *ngIf="isEmployee()" routerLink="">Rejsy</a>
        <a *ngIf="isEmployee()" routerLink="">Rezerwacje</a>
        <a *ngIf="isEmployee()" routerLink="">Kajuty</a>
        <a *ngIf="isClient() || isEmployee()" routerLink="">Rezerwacje</a>
        <a *ngIf="isClient()" routerLink="">Aktualne rejsy</a>
        <a *ngIf="isAdmin()" routerLink="">Konta</a>
        <a *ngIf="isAdmin() || isEmployee() || isClient()" routerLink="">Moje konto</a>
        <a *ngIf="isAdmin() || isEmployee() || isClient()" routerLink="/" (click)="signOut()" class="login-a">Wyloguj</a>
        <a *ngIf="isGuest()" routerLink="/login" class="login-a">Zaloguj</a>
        <a *ngIf="isGuest()" routerLink="/register" class="login-a">Zarejestruj</a>
        <div class="login-access-level" *ngIf="!isGuest()">
            <a style="pointer-events: none; color: #ba0d41; font-weight: normal;" *ngIf="isAdmin()">Administrator</a>
            <a style="pointer-events: none; color: #f2aa00; font-weight: normal;" *ngIf="isEmployee()">Pracownik</a>
            <a style="pointer-events: none; color: #0F084B; font-weight: normal;" *ngIf="isClient()">Klient</a>
            <a style="pointer-events: none; color: #ba0d41; font-weight: normal;" *ngIf="isAdmin()">{{getLogin()}}</a>
            <a style="pointer-events: none; color: #f2aa00; font-weight: normal;" *ngIf="isEmployee()">{{getLogin()}}</a>
            <a style="pointer-events: none; color: #0F084B; font-weight: normal;" *ngIf="isClient()">{{getLogin()}}</a>
        </div>
    </div>
</div>
