@import '../../../../styles.less';

table{
    align-content: center;
    width: 100%;
    margin-top: 0.5vw;
}

th{
    font: 1.2rem Source Sans Pro;
    color: @primary-color;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
}

td{
    font: 1.2rem Source Sans Pro;
    color: black;
    font-weight: lighter;
    text-align: center;
}

hr{
    border: #ddd 1px solid;
}
